.main {
    margin-left: 220px;
    margin-top: 10px;
    width: 980px;
    height: 455px;
}

.focus {
    float: left;
    width: 721px;
    height: 100%;
}

.focus {
    position: relative;
}

.focus .prev, .focus .next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 20px;
    height: 30px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 30px;
    color: white;
    text-decoration: none;
}

.prev {
    left: 0;
    border-radius: 0 15px 15px 0;
}

.next {
    /* 如果一个盒子既有left又有right,则默认执行left 同理执行top */
    right: 0;
    border-radius: 15px 0 0 15px;
}

.promo-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    background-color: rgb(255, 255, 255, .3);
    border-radius: 7px;
}

.promo-nav li {
    float: left;
    margin: 3px;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

.promo-nav li:hover {
    background-color: #ff5000;
}

.newsflash {
    float: right;
    width: 250px;
    height: 100%;
}

.news {
    width: 100%;
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news_hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
}

.news_hd .more::after {
    font-family: 'icomoon';
    content: "\e920";
}

.news_bd {
    padding: 5px 15px 0;
}

.news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    width: 100%;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    margin-top: 12px;
    width: 24px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.bargain {
    margin-top: 5px;
}

/* 推荐模块 */

.recom {
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_hd {
    width: 205px;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: #5c5251;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 猜你喜欢模块 */

.ailike {
    margin-top: 30px;
    height: 265px;
}

.ailike_hd {
    height: 28px;
    line-height: 28px;
    padding-right: 20px;
}

.ailike h3 {
    float: left;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}

.ailike_hd>a {
    float: right;
    font-size: 12px;
    color: #333333;
}

.ailike_hd>a::after {
    content: "\ea2e";
    font-family: 'icomoon';
    font-size: 12px;
    color: #333333;
}

.ailike_bd ul li {
    position: relative;
    width: 200px;
    float: left;
}

.ailike_bd ul li a h4 {
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 5px;
}

.ailike_bd ul li a .price {
    margin-top: 10px;
    color: #df3033;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 50px;
}

.ailike_bd ul li>div {
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #ededed;
    right: 0;
    bottom: 0;
}

/* 楼层模块 */

/* 家电模块 */

.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    padding: 0 15px;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    text-align: center;
    width: 210px;
    background-color: #f9f9f9;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    margin-right: 10px;
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}